[submodule "eventcalendar"]
	path = eventcalendar
	url = https://github.com/tractorcow/silverstripe-event-calendar.git
[submodule "advancedworkflow"]
	path = advancedworkflow
	url = https://github.com/silverstripe-australia/advancedworkflow.git
[submodule "blog"]
	path = blog
	url = https://github.com/silverstripe/silverstripe-blog.git
[submodule "multivaluefield"]
	path = multivaluefield
	url = https://github.com/nyeholt/silverstripe-multivaluefield.git
[submodule "multiform"]
	path = multiform
	url = https://github.com/silverstripe/silverstripe-multiform.git
